{% extends 'layout.html' %}
{% block content %}
<div id="content" class="site-content"><div id="primary" class="content-area width-normal">
    <main id="main" class="site-main">
        <div class="cont maincont">
            <h1 class="maincont-ttl">ACTUALIZAR DIAGNÓSTICO NUTRICIONAL</h1>
            <ul class="b-crumbs">
                <li><a href="{% url 'nutriApp:index' %}">Inicio</a></li>
                <li>Actualizar Diagnóstico Nutricional</li>
            </ul>                                                <article class="page-cont">
            <div class="page-styling">

                <div style="color:red; font-weight: bolder" class="centrar-text" role="alert">
                    {{error}}
                </div>
                <div style="color: blue; font-weight: bolder" class="centrar-text" role="alert">
                    {{success}}
                </div>
                <div class="auth-wrap">
                    <div class="container-fluid ">
                        
                        <form method="post" action="{% url 'nutriApp:actualizarDiagnostico' %}" class="container-fluid row prod-items prod-items-2">
                            {% csrf_token %}
                            
                            <!-- DATOS DEL HISTORIAL NUTRICIONAL -->
                            <div class="container-fluid">
                                <h3 class="subtitle-wraper">Datos del historial nutricional</h3>
                                <div class="prod-tab" id="prod-tab-2">
                                    <dl class="prod-tab-props">
                                        <input type="hidden" value="{{paciente.doc_identidad_pac}}"
                                        name="dni2" id="dni2" >
                                        <input type="hidden" value="{{usuario.id}}"
                                        name="usuarioDx" id="usuarioDx">
                                        <input type="hidden" value="{{dx.id}}"
                                        name="idDx" id="idDx">                                        
                                        <dt>Paciente:</dt>
                                        <dd class="bold-text">{{paciente.apellido_paterno}} {{paciente.apellido_materno}} {{paciente.nombre}}</dd>
                                        <dt>Diagnóstico</dt>
                                        <dd>{{dx.id}}</dd>
                                        <dt>Sexo</dt>
                                        <dd>{{paciente.genero}}</dd>
                                        <dt>Fecha nacim</dt>
                                        <dd>{{paciente.fecha_nacimiento}}</dd>
                                        <dt>Fecha</dt>
                                        <dd>{{fecha}}</dd>
                                        <dt>Telefono</dt>
                                        <dd>{{paciente.telefono}}</dd>
                                        <dt>Dirección</dt>
                                        <dd>{{paciente.domicilio}}</dd>
                                        <dt>Ocupación</dt>
                                        <dd>{{paciente.ocupacion}}</dd>
                                        <dt>Nutricionista: </dt>
                                        <dd>{{usuario.last_name}} {{usuario.first_name}}</dd>
                                    </dl>
                                </div>
                                
                            </div>
                            
                            <!-- RESULTADOS DE EVALUACION ANTROPOMETRICA -->
                            <div class="container-fluid">
                                <h3 class="subtitle-wraper">Resultados de evaluación antropométrica</h3>
                                <p>
                                    <label for="estado_nut" class="bold-text">Estado Nutricional </label>                                    
                                    <textarea name="estado_nut" id="estado_nut" cols="30" rows="10">{{dx.estado_nutri}}</textarea>
                                </p>
                                <p >
                                    <label class="bold-text blue-color">REQUERIMIENTOS</label>                                    
                                </p>
                                <div class="row prod-items prod-items-4">
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="req_ener" class="bold-text">Energía(kcal)</label>
                                    <input type="text" name="req_ener" id="req_ener"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.req_ener}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46"
                                    >
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="req_carboh" class="bold-text">Carbohidratos(gr)</label>
                                    <input type="text" name="req_carboh" id="req_carboh"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.req_carboh}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46"
                                    >
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="req_prot" class="bold-text">Proteínas(gr)</label>
                                    <input type="text" name="req_prot" id="req_prot"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.req_prot}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46">
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="req_grasa" class="bold-text">Grasas(gr)</label>
                                    <input type="text" name="req_grasa" id="req_grasa"
                                    ondrop="return false;" onpaste="return false;" 
                                    value = "{{dx.req_grasa}}"
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46">
                                </p>
                                </div>
                            </div>
                             <!-- RESULTADOS DE EVALUACION CLINICA Y BIOQUIMICA -->
                            <div class="container-fluid">
                                <h3 class="subtitle-wraper">Resultados de evaluación clínica y bioquímica</h3>
                                <div class="row prod-items prod-items-2">
                                    <p class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                                        <label for="tipo_patologia" class="bold-text">Tipo de Patología</label>
                                        <textarea name="tipo_patologia" id="tipo_patologia">{{dx.tipo_patologia}}</textarea>
                                    </p>
                                    <p class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                                        <label for="tipo_dieta" class="bold-text">Tipo de dieta</label>
                                        <textarea name="tipo_dieta" id="tipo_dieta">{{dx.tipo_dieta}}</textarea>
                                    </p>                                    
                                    </div>
                            </div>

                            <!-- RESULTADOS DE EVALUACION DIETECTICA -->
                            <div class="container-fluid">
                                <h3 class="subtitle-wraper">Resultados de evaluación dietética</h3>
                                <p>
                                <label class="bold-text blue-color">Aportado del Recordatorio de 24 horas</label>                                    
                                </p>
                                <div class="row prod-items prod-items-4">
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="r24_ener" class="bold-text">Energía(kcal)</label>
                                    <input type="text" name="r24_ener" id="r24_ener"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.r24_ener}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46"
                                    >
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="r24_carboh" class="bold-text">Carbohidratos(gr)</label>
                                    <input type="text" name="r24_carboh" id="r24_carboh"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.r24_carboh}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46"
                                    >
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="r24_prot" class="bold-text">Proteínas(gr)</label>
                                    <input type="text" name="r24_prot" id="r24_prot"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.r24_prot}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46">
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                    <label for="r24_grasa" class="bold-text">Grasas(gr)</label>
                                    <input type="text" name="r24_grasa" id="r24_grasa"
                                    ondrop="return false;" onpaste="return false;"
                                    value = "{{dx.r24_grasa}}" 
                                    onkeypress="return (event.charCode>=48 && event.charCode<=57) || event.charCode==46">
                                </p>
                                </div>
                                <div class="row prod-items prod-items-2">
                                <p class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                                    <label for="r24_analisis" class="bold-text">Análisis del R24</label>                                    
                                    <textarea name="r24_analisis" id="r24_analisis" cols="30" rows="10">{{dx.r24_analisis}}</textarea>
                                </p>
                                <p class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                                    <label for="fc_analisis" class="bold-text">Análisis del FC</label>                                    
                                    <textarea name="fc_analisis" id="fc_analisis" cols="30" rows="10">{{dx.fc_analisis}}</textarea>
                                </p>
                            </div>                                
                                <p>
                                    <label for="recomendaciones" class="bold-text blue-color">RECOMENDACIONES</label>                                    
                                    <textarea name="recomendaciones" id="recomendaciones" cols="30" rows="10">{{dx.recomendaciones}}</textarea>
                                </p>
                            </div>                            
                            <!-- <p class="auth-submit cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                                <input type="submit" value="☑️ &nbsp; Registrar">
                            </p> -->
                            <div class="row mb65">
                            
                                <input type="submit" value="☑️ &nbsp; Actualizar" class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">

                                <!-- <button type="button" value="📝 &nbsp; Adjuntar Archivo" class="btn-style cf-sm-6 cf-lg-3 col-sm-6 col-md-3">📝 &nbsp; Adjuntar</button>
                            
                           
                                <button type="button" value="📝 &nbsp; Exportar PDF" class="btn-style cf-sm-6 cf-lg-3 col-sm-6 col-md-3">📝 &nbsp; Exportar PDF</button> -->
                            
                            
                                <p class="auth-submit cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">                                                        
                                    <button type="button" class="btn-style"><a href="{% url 'nutriApp:index' %}">⬅️</a>&nbsp;Regresar</button>
                                </p>
                            
                        </div>
                        </form>
                        
                        <!-- FORMA PRUEBA 1 -->
                        <!-- <div class="container-fluid row prod-items prod-items-3">
                            <p class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                                <input type="submit" value="📝 &nbsp; Adjuntar Archivo">
                            </p>
                            <p class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                                <input type="submit" value="📝 &nbsp; Exportar PDF">
                            </p>
                            <p class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                                <input type="submit" value="⬅️ &nbsp; Regresar">
                            </p>
                        </div> -->
                       
                        <!-- FORMA PRUEBA 2 -->
                        <!-- <div>
                            
                                <input type="submit" value="📝 &nbsp; Adjuntar Archivo" class="btn-style">
                            
                           
                                <input type="submit" value="📝 &nbsp; Exportar PDF">
                            
                            
                                <input type="submit" value="⬅️ &nbsp; Regresar">
                            
                        </div> -->
                    </div>                
                </div>
            </div>
        </article>
        </div>
    </main><!-- #main -->
</div><!-- #primary -->    </div><!-- #content -->
{% endblock %}