{% extends 'layout.html' %}
{% block content %}
<div id="content" class="site-content"><div id="primary" class="content-area width-normal">
    <main id="main" class="site-main">
        <div class="cont maincont">
            <h1 class="maincont-ttl">Ver Diagnosticos por Paciente</h1>
            <ul class="b-crumbs">
                <li><a href="{% url 'nutriApp:index' %}">Inicio</a></li>
                <li>Ver Diagnosticos</li>
            </ul>                                                <article class="page-cont">
            <div class="page-styling">

                <div style="color: blue; font-weight: bolder" class="centrar-text" role="alert">
                    {{success}}
                </div>
                <div style="color:red; font-weight: bolder" class="centrar-text" role="alert">
                    {{error}}
                </div>                
                <div class="auth-wrap page-styling">
                    <div class="container-fluid">
                        <!-- <h2>Buscar por DNI</h2> -->
                        <form method="post" action={% url 'nutriApp:verDiagnosticos' %} class="container-fluid prod-items auth-col">
                            {% csrf_token %}
                            {% if paciente %}
                            <p>
                                <label for="dni">DNI</>
                                <input type="text" name="dni" id="dni" maxlength="8" minlength="8"                                 
                                onkeypress="return event.charCode>=48 && event.charCode<=57"
                                placeholder="Busque por DNI"
                                value = "{{paciente.doc_identidad_pac}}"
                                required>                                
                                <input type="submit" value="🔍 &nbsp; Buscar ">
                            </p>
                            {% else %}
                            <p>
                                <label for="dni">DNI</>
                                <input type="text" name="dni" id="dni" maxlength="8" minlength="8"                                 
                                onkeypress="return event.charCode>=48 && event.charCode<=57"
                                placeholder="Busque por DNI"
                                required>
                                <input type="submit" value="🔍 &nbsp; Buscar ">
                            </p>
                            {% endif %}
                        </form>
                        <form method="post" action={% url 'nutriApp:registrarDiagnostico' %} class="container-fluid row auth-col">
                            {% csrf_token %}
                            {% if paciente %}
                            <p>                                                                
                                <input type="submit" value="🔍 &nbsp; Registrar nuevo Diagnóstico">
                                <input type="hidden" value="{{paciente.doc_identidad_pac}}"
                                name="dni" id="dni" maxlength="8"
                                >
                            </p>
                            {% endif %}                                                                                                                                                            
                        </form>
                        {% if paciente %}
                            <p class="centrar-text">
                            <label class="bold-text blue-color font-plus">{{paciente.apellido_paterno}} {{paciente.apellido_materno}}, {{paciente.nombre}}</label>                                    
                            </p>
                            <p class="centrar-text">
                            <label class="bold-text blue-color font-plus">DNI {{paciente.doc_identidad_pac}}</label>                                    
                            </p>
                        {% endif %}                                                                                                                                                                                  
                    </div>

                    <!-- TABLA DE DIAGNOSTICOS -->
                    <div class="wccm-compare-table">
                        <div class="wccm-thead">
                            <div class="wccm-tr">
                                <div class="wccm-th"></div>
                                <div class="wccm-table-wrapper">
                                    <table class="wccm-table">
                                        <tr>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#">Diagnostico</a>
                                                </div>
                                                <div class="price">Código</div>
                                            </td>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#">Atención</a>
                                                </div>
                                                <div class="price">Fecha</div>
                                            </td>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#">Profesional</a>
                                                </div>
                                                <div class="price">Nutricionista</div>
                                            </td>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="price"></div>
                                            </td>
                                            <td class="wccm-td">                                            
                                                <div>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="price"></div>
                                            </td>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="wccm-tbody">
                            {% for dx in diagnosticos %}
                            <div class="wccm-tr">
                                <div class="wccm-th">Diagnóstico</div>
                                <div class="wccm-table-wrapper">
                                    <table class="wccm-table">
                                        <tr>                                            
                                            <td class="wccm-td"><p>{{dx.id}}</p></td>
                                            <td class="wccm-td"><p>{{dx.fecha_registro}}</p></td>
                                            <td class="wccm-td"><p>{{dx.trabajador}}</p></td>
                                            <td class="wccm-td"><p><a href="{% url 'nutriApp:cargarDiagnostico' dx.id %}">Ver Diagnóstico</a></p></td>
                                            <td class="wccm-td"><p><a href="{% url 'nutriApp:eliminarDiagnostico' dx.id %}">Eliminar</a></p></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}                                                        
                        </div>
                    </div>

                        <!-- BOTON REGRESAR -->
                        <p class="auth-submit cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">                                                        
                            <button type="button" class="btn-style"><a href="{% url 'nutriApp:index' %}">⬅️</a>&nbsp;Regresar</button>
                        </p>
                    </div>                   
                </div>
            </div>
        </article>
        </div>
    </main><!-- #main -->
</div><!-- #primary -->    </div><!-- #content -->
{% endblock %}