{% extends 'layout.html' %}
{% block content %}
<div id="content" class="site-content"><div id="primary" class="content-area width-normal">
    <main id="main" class="site-main">
        <div class="cont maincont">
            <h1 class="maincont-ttl">Ver mis Pacientes</h1>
            <ul class="b-crumbs">
                <li><a href="{% url 'nutriApp:index' %}">Inicio</a></li>
                <li>Ver mis pacientes</li>
            </ul>                                                <article class="page-cont">
            <div class="page-styling">

                <div style="color:red; font-weight: bolder" role="alert">
                    {{error}}
                </div>
                <div style="color: blue; font-weight: bolder" class="centrar-text" role="alert">
                    {{success}}
                </div>
                <div class="auth-wrap page-styling">
                    <div class="container-fluid">
                        <!-- <h2>Buscar por DNI</h2> -->
                        <form method="post" action={% url 'nutriApp:verTodoPacientes' %} class="container-fluid prod-items auth-col">
                            {% csrf_token %}
                            <p>
                                <label for="dni">DNI</>
                                <input type="text" name="dni" id="dni" maxlength="8"
                                ondrop="return false;" onpaste="return false;" 
                                onkeypress="return event.charCode>=48 && event.charCode<=57"
                                placeholder="Busque por DNI"
                                required>
                                <input type="submit" value="🔍 &nbsp; Buscar ">
                            </p>                                                                                                                                                           
                        </form>

                        <form method="post" action="" class="container-fluid row auth-col">
                            {% csrf_token %}
                            <p>
                                <label for="apellido_p">Apellido paterno </label>
                                <input type="text" name="apellido_p" id="apellido_p" required placeholder="Busque por apellido paterno">
                                <input type="submit" value="🔍 &nbsp; Buscar">
                            </p>                                                                                                                                                             
                        </form>

                        <form method="post" action="" class="container-fluid row auth-col">
                            {% csrf_token %}
                            <p>                                
                                <input type="submit" value="🔍 &nbsp; Ver todos los pacientes">
                            </p>                                                                                                                                                             
                        </form>
                    </div>

                    <!-- TABLA DE PACIENTES -->
                    <div class="wccm-compare-table">
                        <div class="wccm-thead">
                            <div class="wccm-tr">
                                <div class="wccm-th"></div>
                                <div class="wccm-table-wrapper">
                                    <table class="wccm-table">
                                        <tr>                                           
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#">Apellido</a>
                                                </div>
                                                <div class="price">Paterno</div>
                                            </td>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#">Apellido</a>
                                                </div>
                                                <div class="price">Materno</div>
                                            </td>
                                            <td class="wccm-td">                                                
                                                <div>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="price">Nombre</div>
                                            </td>
                                            <td class="wccm-td">                                            
                                                <div>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="price"></div>
                                            </td>
                                            <td class="wccm-td">                                               
                                                <div>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="price"></div>
                                            </td>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="wccm-tbody">
                            {% for pac in pacientes %}
                            <div class="wccm-tr">
                                <div class="wccm-th blue-color">DNI - {{pac.doc_identidad_pac}}</div>
                                <div class="wccm-table-wrapper">
                                    <table class="wccm-table">
                                        <tr>                                                                                        
                                            <td class="wccm-td"><p>{{pac.apellido_paterno}}</p></td>
                                            <td class="wccm-td"><p>{{pac.apellido_materno}}</p></td>
                                            <td class="wccm-td"><p>{{pac.nombre}}</p></td>                                            
                                            <td class="wccm-td"><p><a href="{% url 'nutriApp:cargarPaciente' pac.doc_identidad_pac %}">Actualizar</a></p></td>
                                            <td class="wccm-td"><p><a href="#">Eliminar</a></p></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                        <!-- BOTON REGRESAR -->
                        <p class="auth-submit cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
                            <input type="submit" value="⬅️ &nbsp; Regresar">
                        </p>
                    </div>                   
                </div>
            </div>
        </article>
        </div>
    </main><!-- #main -->
</div><!-- #primary -->    </div><!-- #content -->
{% endblock %}